body {
  background-color: #e0e0e0;
  margin:0;
  padding:0;
  height: 100%;
  width:100%;

}

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
}

h2 {
  font-family: sans-serif;
  font-strength:strong;
  color:#2e8bcb;
  font-size: 24px;
}

h4 {
  font-family: sans-serif;
  font-size: 18px;
  color: #2e8bcb;
  font-strength:strong;
  font-style: italic;
}

.gallery{
  display: none;
}

.carousel{
  position: fixed;
  margin-left: 15%;
  width: 50%;
  height:75%;
}

.carousel-inner > .item > img {
   margin: 0 auto;
   max-height: 100%;
}

.carousel .item{
  width: 100%;
  margin: 0 auto;
}

.controls{
  position: fixed;
  bottom: -30px;
}

.right-control{
  position: absolute;
  bottom: -5%;
  right: 0;
  left: auto;
  width: 15%;
  margin-top:10px;
  font-size: 20px;
  color: #2e8bcb;
  text-align: center;
}

.left-control{
  position: absolute;
  bottom: -5%;
  width: 15%;
  margin-top:10px;
  font-size: 20px;
  color: #2e8bcb;
  text-align: center;
}

.carousel-indicators {
  position: absolute;
  bottom: -6%;
  left: 50%;
  z-index: 15;
  width: 60%;
  outline-color: #2e8bcb;
  padding-left: 0;
  margin-left: -30%;
  text-align: center;
  list-style: none;
}

.carousel-indicators li {
  background-color: #2e8bcb \9;
  background-color: rgba(46, 139, 203, 0);
  border: 1px solid #2e8bcb;
}

.carousel-indicators .active {
  background-color: #2e8bcb;
}

.allthisjunk{
  min-width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin: 20px;
  margin-top: 100px;
}

.sideview{
  margin-left: 20px;
  margin-top: 75px;
  margin-bottom: 75px;
}

.externalsites{
  padding: 5px;
}

.descriptors{
  position: fixed;
  right:5%;
  left: 75%;

}

.row{
  margin-bottom: 25px;
}

.logoimg{
  position: fixed;
  left: 20px;
  top: 0px;
  padding-top: 15px;
  background-color: #e0e0e0;
  height:75px;
  width: 100%;
}	

.item{
  width:  200px;
  height: 200px;
  display: inline-block;
  margin: 5px;
  position: relative;
  opacity: 30%

}

.bottombar{
	height:75px;
	background-color: #b7b7b7;
	width: 100%;
	float: none;
	position: fixed;
  margin-top: 5px;
	margin-bottom: 0px;
	text-align: left;
	margin-left: 0;
	padding-left:20px;
	padding-top: 5px;
  bottom:0;
  left:0;
}

.raptor{
	
	float:right;
  right:-40px;
	position: relative;
  bottom: 0px;
}

a {
  background: transparent;
  text-decoration: none;
  color: #fff;

}
a:active,
a:hover {
  outline: 0;
  text-decoration: none;
}
abbr[title] {
  border-bottom: 1px dotted;
}
b,
strong {
  font-weight: bold;
}
dfn {
  font-style: italic;
}
h1 {
  margin: .67em 0;
  font-size: 2em;
}
mark {
  color: #000;
  background: #ff0;
}
small {
  font-size: 80%;
}
sub,
sup {
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline;
}
sup {
  top: -.5em;
}
sub {
  bottom: -.25em;
}
img {
  border: 0;
}

#sideGallery { display: none; }
  
/* Large desktops and laptops */
@media (min-width: 1200px) {
  .carousel .item{
    height:1500px;
  }
}

/* Portrait tablets and medium desktops */
@media (min-width: 992px) {
  .carousel .item{
    height:525px;
  }
}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {
  .carousel .item{
    height:400px;
  }

  .carousel{
  position: fixed;
  margin-left: 200px;
  width: 50%;
  height:75%;
  }

  .bottombar{
  position: relative;
  }

  .sideview{
  margin-left: 20px;
  margin-top: 75px;
  margin-bottom: 0px;
  }

  .descriptors{
  position: absolute;
  right:5%;
  left: 75%;

}
}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
.right-control{
  position: relative;
  right: 0;
  left: 49%;
  width: 15%;
  margin-top:10px;
  font-size: 20px;
  color: #2e8bcb;
  text-align: center;
}

.left-control{
  position: relative;
  left: 44%;
  bottom: -5%;
  width: 15%;
  margin-top:10px;
  font-size: 20px;
  color: #2e8bcb;
  text-align: center;
}

.carousel-indicators {
  position: relative;
  left: 50%;
  z-index: 15;
  width: 60%;
  outline-color: #2e8bcb;
  padding-left: 0;
  margin-left: -30%;
  text-align: center;
  list-style: none;
  visibility: hidden;
}

  .carousel .item{
    height:325px;
  }

  .carousel{
  position: fixed;
  margin-left: 120px;
  width: 60%;
  height:75%;
  }

  .bottombar{
  position: relative;
  }

  .sideview{
  margin-left: 20px;
  margin-top: 75px;
  margin-bottom: 0px;
  }

  .descriptors{
  position: absolute;
  right:5%;
  left: 75%;

}

}

/* Landscape phones and smaller */
@media (max-width: 480px) {
.right-control{
  position: relative;
  right: 0;
  left: 49%;
  width: 15%;
  margin-top:10px;
  font-size: 20px;
  color: #2e8bcb;
  text-align: center;
}

.left-control{
  position: relative;
  left: 44%;
  bottom: -5%;
  width: 15%;
  margin-top:10px;
  font-size: 20px;
  color: #2e8bcb;
  text-align: center;
}

.carousel-indicators {
  position: relative;
  left: 50%;
  z-index: 15;
  width: 60%;
  outline-color: #2e8bcb;
  padding-left: 0;
  margin-left: -30%;
  text-align: center;
  list-style: none;
  visibility: hidden;
}

  .carousel .item{
    height:300px;
  }

  .carousel{
  position: absolute;
  margin-left: 0px;
  width: 100%;
  height:75%;
  }
  .descriptors{
  position: absolute;
  top:60%;
  right: 0;
  left: 0;
  margin-left: 15px;
  margin-right: 15px;
  }

  .bottombar{
  position: relative;
  bottom:0;
  left: 0;
  }

  .sideview{
  position: absolute;
  margin-left: 20px;
  margin-top: 80%;
  margin-bottom: 0px;
  }
}

